<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Welcome to Todo app! <small> <%= Time.now.strftime("at %I:%M%p") %> </small></h1>

    <nav>
      <a href="/todos"><b>Home</b></a>
    <nav>

  </header>

  <main>
    <%= yield %>
  </main>
  <footer>
    Designed by <strong><i>the</i></strong> Mayor &trade;
  </footer>

</body>
</html>
